/* Track */
::-webkit-scrollbar-track {
  background: #19181a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 215, 255); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 78, 98); 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 27, 54);
  }
  
  li {
    float: left;
    font-family: Verdana;
    font-size: 30px;
  }
  
  li a {
    display: block;
    color: rgb(233, 215, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius:15px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(88, 60, 122);
  }

  .active {
    background-color: #baa5db;
    color: black;
  }
  .container {
    display: flex;
    gap: 30px; /* space between the boxes */
    justify-content: flex-start; /* or center, as you prefer */
    align-items: flex-start; /* aligns the tops */
    margin: 30px;
}

article {
  background-color: rgb(233, 215, 255);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  /* Remove margin-left and float from inline styles */
  /* Optionally set a width: */
  width: 50%; /* or whatever fits your design */
  box-sizing: border-box;
}

a {
  color:rgb(117, 62, 184)
}